# Make Configuration for HAL builds
# hal/make.config

# The makefile in the root directory will automatically generate the correct HAL 
# based on the architecture defined here

# define target architecture
HALARCH = x86

# architecture dependent flags, used by other makefiles to build object files compatible with the HAL
HALARCH_CFLAG = -m32
HALARCH_LDFLAG =
HALARCH_ASMFLAG = aout

# location of the HAL source code
HALDIR = hal/$(HALARCH)
BUILDDIR = build
BUILD_HALDIR = $(BUILDDIR)/$(HALDIR)

# final build output
HALFILE = build/hal/hal.a

